.intro {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex-basis: 140px;
  img {
    height: 130px;
  }
  h1 {
    font-size: 3.4em;
    color: rgb(253, 145, 38);
  }
  @media (max-width: 425px) {
    h1 {
      font-size: 3em;
    }
  }
}

.section-boxes {
  span {
    position: absolute;
    font-size: 1.4em;
    top: 25px;
    right: 40px;
    opacity: 0;
  }
}

.scanning {
  background-color: $color-prim;
  p {
    opacity: 0;
    margin-top: 0;
  }
}
.printing {
  background-color: $black-transparent;
  @include bg-link('');
}
.enlargements {
  background-color: $white-transparent;
  @include bg-link('');
}
.projects{
  background-color: $black-transparent;
  @include bg-link('');
}
.sculpting {
  background-color: $white-transparent;
  @include bg-link('');
}
.contact {
  background-color: $color-prim;
}
