body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-family: 'Convergence', sans-serif;
  margin: 0;
}
 .section-boxes {
   height: 300px;
   flex-basis: 33.33%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-flow: column wrap;
   video {
     position: absolute;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: -1;
   }
  //  overflow: hidden;
   h1 {
     width: 100%;
     text-align: center;
     text-shadow: 0px 0px 4px $black-matte;
     transform: scale(1.5) translateY(180%);
     transition: all 100ms ease-in-out;
   }
   &:hover {
     z-index: 5;
     overflow: hidden;
     h1 {
      transform: none;
     }
   }
   &:last-child:hover {
     h1 {
       transform: scale(1.55) translateY(180%);
       animation: glowing 2s ease-in-out infinite;
     }
   }
   & > div {
     transition: flex 1s ease-in-out;
   }
   .inside-box {
     display: flex;
     flex-flow: row wrap;
     position: relative;
     padding: 10px;
     justify-content: space-between;
     span {
       position: absolute;
       width: 50px;
       padding: 10px 20px;
       left: 45%;
       top: -30px;
       border-radius: 5px;
       background-color: $orange;
     }
     & > div {
       flex-basis: 48%;
       display: flex;
       flex-flow: column wrap;
       align-items: center;
     }
     @media (max-width: 525px) {
       & > div {
         flex-basis: 100%;
         h2, p {
           margin-bottom: 0;
         }
       }
     }
   }
 }

 .sections {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  color: $white;
  // & > div {
  //     transition: all 200ms linear;
  // }
  @media (min-width: 1500px) {
    .section-boxes {
      height: 450px;
    }
  }
  @media (max-width: 1200px) {
    .section-boxes {
      flex-basis: 50%;
    }
  }
  @media (max-width: 660px) {
    .section-boxes {
      flex-basis: 100%;
    }
  }
 }

 .smallerr {
   flex-basis: 500px;
 }

 .chosen {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 5;
   &:last-child:hover {
     h1 {
       transform: none;
       animation: none;
     }
   }
   h1 {
    transform: none;
   }
   span {
     opacity: 1;
     cursor: pointer;
   }
   p {
     opacity: 1;
   }
 }

 .not-yet {
   flex-basis: 60px;
   & > div {
     opacity: 0;
   }
 }

 .projects {
   .inside-box {
     width: 100%;
     justify-content: center;
   }
 }

 .printing {
   .inside-box {
     .info-one {
       align-self: center;
     }
   }
 }

 .sculpting {
   .inside-box {
    @media (max-width: 550px) {
     div p {
       font-size: 0.9em;
     }
     .info-one {
       h2 {
         margin-bottom: 5px;
       }
       p {
         margin-top: 0;
       }
     }
    }
   }
 }

 .contact {
   justify-content: flex-start;
   .inside-box {
     @media (min-width: 925px) {
       justify-content: center;
       & > div {
         flex-basis: 300px;
       }
     }
     @media (max-width: 625px) {
       & > div {
         flex-basis: 100%;
       }
     }
     p {
       text-align: center;
     }
   }
 }

 .background-black {
  background-color: rgba(0, 0, 0, 0.35);
 }
