// Colors

$white       : #FDFEFE;
$grey        : #E5E7E9;
$black       : #17202A;
$black-matte : #1C2833;
$purple      : #A569BD;
$red         : #E74C3C;
$gold        : #F1C40F;
$orange      : #E67E22;
$blue        : #3498DB;
$black-transparent: rgba(0, 0, 0, 0.94);
$white-transparent: rgba(255, 255, 255, 0.95);
$orange-firebird: rgb(253, 153, 48);

$color-prim  : $orange;
$color-sec   : $blue;
$color-text  : $gold;

// Fonts

$font-main   : "font-family: 'Yanone Kaffeesatz', sans-serif";
$font-other  : "font-family: 'Varela Round', sans-serif";

// Values



// Animations
@-webkit-keyframes glowing {
  0%   { text-shadow:  0px 0px 10px #000;}
  50%  { text-shadow:  0px 0px 30px #000;}
  100% { text-shadow:  0px 0px 10px #000;}
}
