// Colors

$white       : #FDFEFE;
$grey        : #E5E7E9;
$black       : #17202A;
$black-matte : #1C2833;
$purple      : #A569BD;
$red         : #E74C3C;
$gold        : #F1C40F;
$orange      : #E67E22;
$blue        : #3498DB;

$color-prim  : $purple;
$color-sec   : $blue;
$color-text  : $gold;

// Fonts

$font-main   : "font-family: 'Yanone Kaffeesatz', sans-serif";
$font-other  : "font-family: 'Varela Round', sans-serif";

// Values



// Animations
@-webkit-keyframes glowing {
  0%   { box-shadow: inset 0px 0px 25px $black-matte;}
  50%  { box-shadow: inset 0px 0px 40px $black-matte;}
  100% { box-shadow: inset 0px 0px 25px $black-matte;}
}
